{% extends 'user_layout.html' %}

{% block title %}
    ورود
{% endblock %}

{% block content %}
    <main class="content mt-3">
        <div class="container">
            <div class="my-account-login">
                <div class="col-lg-4 col-md-5 mx-auto">
                    <div class="account-box">
                        <section class="account-login-logo">
                            <a href="#">
                                <img src="/static/images/logo.png" alt="فروشگاه اینترنتی ویرا" class="img-fluid">
                            </a>
                        </section>
                        <ul>
                            <li class="active">
                                <a href="{% url 'login_page' %}">
                                    <i class="fal fa-user"></i>
                                    ورود
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register_page' %}">
                                    <i class="fal fa-sign-in"></i>
                                    ثبت نام
                                </a>
                            </li>
                        </ul>
                        <div class="title">حساب کاربری</div>
                        <div class="login-wrap">
                            <form method="post">
                                {% csrf_token %}
                                {% if errors %}
                                    <div class="errorq">{{ login_form.phone_number.errors }}</div>
                                {% endif %}
{#                                <div class="item-account username">#}
{#                                    {{ login_form.username }}#}
{#                                </div>#}
                                <div class="item-account mobile">
                                    {{ login_form.phone_number }}
                                </div>
                                <div class="item-account password">
                                    {{ login_form.password }}
                                </div>
                                {#                                <div class="form-auth-row">#}
                                {#                                    <label for="#" class="ui-checkbox">#}
                                {#                                        <input type="checkbox" value="1" name="login" id="remember">#}
                                {#                                        <span class="ui-checkbox-check"></span>#}
                                {#                                    </label>#}
                                {#                                    <label class="remember-me">مرا به خاطر بسپار</label>#}
                                {#                                </div>#}
                                <div class="action-account">
                                    <button type="submit" class="loginBtn">ورود به حساب کاربری</button>
                                    <a class="lost" href="{% url 'forget-password-page' %}">رمز عبور خود را فراموش کرده اید؟</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}